<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Danh sach bai hat</h1>
<a th:href="@{/create}">Them moi</a>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Singer</th>
    <th>Category</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="list:${list}">
    <td th:text="${list.id}"></td>
    <td th:text="${list.getName()}"></td>
    <td th:text="${list.getSinger()}"></td>
    <td th:text="${list.getCategory()}"></td>
  </tr>
  </tbody>
</table>
<div>
  <a th:href="@{'/home'(page=${list.number -1})}" th:if="${list.hasPrevious()}">Back</a>
  <span th:utext="${list.number+1}"></span>/<span th:utext="${list.totalPages}"></span>
  <a th:href="@{'/home'(page=${list.number+1})}" th:if="${list.hasNext()}">Next</a>
</div>
</body>
</html>